.hidden {
    display: none;
}

#clock {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 7px black; 
    /*얼마나 이동할지 px px 얼마나번질지7px 색상*/
    font-size: 4em;
}
#greeting {
    text-align: center;
    color : white;

}
form {
    text-align: center;
}
form input[type="text"]{
    background-color: transparent; /*배경 투명*/
    border: none;
    border-bottom: 1px solid white;
}
form input[type="text"]::placeholder {
    color: white;
    text-align: center;
}
form input[type="text"]:focus {
    border: none;
}

form input[type="submit"] {
    background-color: lightgray;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    /*box-shadow: 1px 1px 3px black;*/
}
.flex {
    margin : 30px 10px;
    display: flex;
    flex-wrap: wrap;
}
.flex div {
    background-color: rgba(255,255,255,0.7); 
    /*rgba를 이용하면 투명도 설정 가능, 1에가까울수록 진해짐*/
    width: 200px;
    margin : 10px;
    padding : 20px;
    word-break: break-word;
}