/*  
    html에 링크줘야함   

*/
.hidden {
    display: none;
}
/*
디스플레이
hidden 을 쓰면 레이아웃에는 존재하지만 웹페이지에는 나타나지않고
display:none 을 사용하면 아예 다 사라짐
로그인 아이디 입력후에 로그인쪽창 없어지길 원한다
*/
#clock {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 7px black; 
    /*얼마나 이동할지 px px 얼마나번질지7px 색상*/
    font-size: 4em;
}
#greeting {
    text-align: center;
    color : white;

}
form {
    text-align: center;
}
form input[type="text"]{
    background-color: transparent; /*배경 투명*/
    border: none;
    border-bottom: 1px solid white;
}
form input[type="text"]::placeholder {
    color: white;
    text-align: center;
}
form input[type="text"]:focus {
    border: none;
}

form input[type="submit"], form input[type="button"] {
    background-color: lightgray;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    /*box-shadow: 1px 1px 3px black;*/
}
form input[type="submit"]:hover {
    background-color: lightblue;
}
form input[type="button"]:hover {
    background-color: lightpink;
}

ul {
    list-style-type: none;
}
ul li {
    border-bottom: white 1px solid;
    margin-top: 10px;
    margin-right: 40px;
}

ul li button {
    float: right;
}
.flex {
    margin : 30px 10px;
    display: flex;
    flex-wrap: wrap;
}
.flex div {
    background-color: rgba(255,255,255,0.7); 
    /*rgba를 이용하면 투명도 설정 가능, 1에가까울수록 진해짐*/
    width: 200px;
    margin : 10px;
    padding : 20px;
    word-break: break-word;
}





